.bodyStyles {
	background-color: #f9fafb;
}

.bodyStyles::-webkit-scrollbar{
	display: none;
}

.homeContainer {
	display: flex;
	flex-direction: column;
	transition-duration: 75ms;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	height: fit-content;
}

.sidebarContainer {
	display: none;
	flex: 0 1 auto;
	height: 100vh;
}

@media (min-width: 768px) {
	.sidebarContainer {
		display: flex;
	}
}
