@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Lato', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.spinnerAnimation {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}